.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/Rust.iml
.idea/vcs.xml
.idea/workspace.xml
gg2/target/.rustc_info.json
poetry.lock
pyproject.html
replit.nix
venv/
.idea